{% load static %}


<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--<link rel="icon" href="favicon.ico">-->

    <title>LOGIN</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    

    <!-- Custom styles for this template -->
    <link href="{% static 'css/signin.css' %}" rel="stylesheet">
  </head>

  <body class="text-center">
{% block content %}
    <form class="form-signin" method="post" action="{% url 'login' %}">
      {% csrf_token %}
     
      <h1 class="h3 mb-3 font-weight-normal">CRM by PKaras</h1>
      {% if form.errors %}
        <div class="alert alert-danger">
            <p>Incorrect Username or Password!</p>
        </div>
      {% endif %}
      
      <label for="inputText" class="sr-only">Username</label> 
      {{ form.username }}
      
      <label for="inputPassword" class="sr-only">Password</label>
      {{ form.password }}
      
      
      
      
      
      <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>

      
    </form>
{% endblock %}
  </body>
</html>
