{% extends 'crms/sections.html' %}
{% load static %}



{% block content %}
  <h1> USERS </h1>
  <p class="lead"> Click on username to update user (Staff only). </p>
  {% if users_list %}
  <div class="table-responsive">
  <table class="table table-condensed">
    <thead>
      <tr>
        <th> Username </th>
        <th> First name </th>
        <th> Last name </th>
       <!-- <th> Group </th> -->
        <th> Status </th>
      </tr>
    </thead>
    <tbody>
    {% for user in users_list %}
    
    <tr>
      <td> <a href="{% url 'update' target_id=user.id %}">{{user.username}}</a> </td>
      <td> {{user.first_name}} </td>
      <td> {{user.last_name}} </td>
     <!-- <td> {{user.group.name}} </td> -->
      
      <td>
        {% if user.is_active %}
          Active
        {% else %}
          Inactive
        {% endif %}
      </td>
      

       
    </tr>
    
    
    {% endfor %}
    </tbody>
  </table>
  </div>
  {% else %}
  <p>No Companies available</p>
  {% endif %}
{% endblock %}
